<!DOCTYPE html>
<html>

<head>
    <title>Eventex - O maior encontro hacker do mundo!</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Eventex - O maior encontro hacker do mundo!">
    <meta name="author" content="wttd">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basalstyle/style.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

    <script src="{{ url_for('static', filename='js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/smooth-scroll.js') }}"></script>
    <script src="{{ url_for('static', filename='js/retina-1.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


</head>

<body>

    <div class="header-frame row">

        <!--NAV-->
        <header class="header header-inline min-h-3 row desktop-12 container" role="banner">

            <div class="site-logo">
                <h1><a href="{{ url_for('inicial') }}" rel="home">Eventex</a></h1>
                <p class="site-description screen-reader-only">O maior encontro hacker do mundo!</p>
            </div>

            <nav class="nav-inline" role="navigation">
                <a href="javascript:void(0);" class="nav-mobile"><i class="fa fa-bars"></i></a>
                <ul>
                    <li><a data-scroll href="{{ url_for('inicial') }}#overview">Conferência</a></li>
                    <li><a data-scroll href="{{ url_for('palestras') }}">Palestras</a></li>
                    <li><a data-scroll href="{{ url_for('inicial') }}#speakers">Palestrantes</a></li>
                    <li><a data-scroll href="i{{ url_for('inicial') }}#sponsors">Patrocinadores</a></li>
                    <li><a data-scroll href="{{ url_for('inicial') }}#register">Inscrição</a></li>
                    <li><a data-scroll href="{{ url_for('inicial') }}#venue">Local</a></li>
                </ul>
            </nav>

        </header>

    </div>

    <!--CONTENT-->
    <section>
        <div class="talks content row padding-bottom-3 desktop-12 container">
            <h2>Manhã</h2>
            <h3>18/10/2023 - BackEnd Ágil</h3>
            <h4>Pors
                <a href="palestrante_detalhes_lg.html">Loiane Groner</a>
            </h4>
            <p>
                Apesar das novas tecnologias chegarem o Java ainda é muito utilizado na programação.
                Seu desenvolvimento de Apis com framework Spring Boot facilita muita a vida do desenvolvedor
                e entrega projetos de forma rápida e segura...
            </p>

            <h2>Tarde</h2>
            <h3>18/10/2023 - Mobile Híbrido</h3>
            <h4>Por
                <a href="palestrante_detalhes_df.html">Diego Fernandes</a>
            </h4>
            <p>
                O desenvolvimento mobile sempre foi um grande desafio, pois atualmente o aplicativo deve suportar a necessidade
                das duas lojas de apps. Diego Fernandes vai abordar o desenvolvimento híbrido com React Native...
            </p>

            <h2>Manhã</h2>
            <h3>19/10/2023 - Arquitetura de Software</h3>
            <h4>Por
                <a href="palestrante_detalhes_rb.html">Rodrigo Branas</a>
            </h4>
            <p>
                Ter uma boa arquitetura de software é essencial para manter um sistema em pleno funcionamento atendendo as mudanças
                que ocorrem com frequência. Robrigo Branas com grande experiência na área vai mostrar técnicas para aplicar...
            </p>
    
    
            <h2>Tarde</h2>
            <h3>19/10/2023 - Testes de Software</h3>
            <h4>Por
                <a href="palestrante_detalhes_hb.html">Henrique Bastos</a>
            </h4>
            <p>
                Henrique Bastos vai apresentar o conceito de programação guiada por testes com python, com mudanças acontecendo
                diariamente testar o software é de extrema importancia...
            </p>
        </div>
    </section>
</body>

</html>